<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white">
    <h5 class="my-0 mr-lg-auto font-weight-normal text-blue">LetsFunRaise</h5>
    <nav class="my-2 my-lg-0 mr-lg-auto">
        <a class="p-3 text-dark" href="/">Home</a>
        <a class="p-3 text-dark" href="/accounts/signup/school">School coordinators</a>
        <a class="p-3 text-dark" href="/accounts/signup/parent">Students/Parents</a>
        <a class="p-3 text-dark" href="/accounts/signup/vendor">Vendors</a>
    </nav>
    {% comment %} <div class="mx-4 px-4 dropdown-menu" aria-labelledby="Sign In">
        <a class="dropdown-item" href="/accounts/signin/school">School</a>
        <a class="dropdown-item" href="/accounts/signin/parent">Parent</a>
        <a class="dropdown-item" href="/accounts/signin/vendor">Something else here</a>
    </div> {% endcomment %}
    <a class="mx-4 px-4 btn btn-light rounded-pill " href="#">Sign in</a>
</div>