{% extends 'base.html' %}

{% block content %}



<div class="container">
   <div class="row">
      <h1>{{user}}</h1>
      <div class="col-md-12 mb-4">
         <div class="table-responsive text-nowrap">
            <h2 class="my-5 h2 text-center">Menu</h2>
            <table class="table text-left">
               <thead class="thead-light">
                  <tr class='d-flex'>
                     <th class="col-2">Title</th>
                     <th class="col-2">Date</th>
                     <th class="col-3">Description</th>
                     <th class="col-2">Vendor</th>
                     <th class="col-1"></th>
                     <th class="col-1"></th>
                     <th class="col-1"></th>
                  </tr>
               </thead>
               {% for object in object_list %}
               <tbody>
                  <tr class='d-flex'>
                     <td class="col-2">{{ object.title }}</td>
                     <td class="col-2">{{ object.date }}</td>
                     <td class="col-3">{{ object.description|linebreaks|truncatewords:10 }}</td>
                     <td class="col-2">{{ object.vendor.title }}</td>
                     <td class="col-1"><a class="btn btn-sm rounded-pill float-right px-3" href="{{ object.get_absolute_url }}" role="button">Detials</> </td>
                     <td class="col-1"><a class="btn btn-sm rounded-pill float-right px-3" href="{{ object.get_edit_url }}" role="button">Edit</></td>
                     <td class="col-1"><a class="btn btn-sm rounded-pill float-right px-3" href="{{ object.get_delete_url }}" role="button">Delete</></td>
                  </tr>
               </tbody>
               {% endfor %}

            </table>
         </div>
         {% if user.is_school %}
         <a class="btn btn-lg rounded-pill float-right mb-5 px-3" href="/event-new/" role="button">Add Event</a>
         {% endif %}
      </div>
   </div>
</div>





{% endblock content %}